:local(.container){
  width: 220px;
  background-color: rgb(244,243,241);
  border-right: 1px solid rgb(222,222,222);
  overflow: scroll;

  :local(.itemContainer){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 7px;
    border-left: 2px solid transparent;
    cursor: default;

    &:hover{
      border-left: 2px solid #b62000;
      background-color: rgba(221, 131, 114, 0.15);
    }

    img{
      height: 35px;
    }

    :local(.listItem){
      padding-left: 5px;
      font-size: 13px;
      width: calc( 100% - 35px );
      height: 35px;
      line-height: 35px;
      overflow: hidden;
    }
  }
}
